.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-logo);
  letter-spacing: 5px;
  margin-top: var(--spacing-xl);
}

.logo * {
  display: inline-block;
}

.logo h1 {
  margin: var(--spacing-xs) 0;
}

.logo span {
  color: var(--orange-9);
  font-size: 9.6rem;
  transform: skew(-5deg);
  display: inline-block;
  font-weight: 800;
  transform: skew(-5deg);
  letter-spacing: 0;
}
